SoapClient/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://soapwebservicetemplate20180108114346.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLib" />
  <xs:import schemaLocation="http://soapwebservicetemplate20180108114346.azurewebsites.net/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SoapWebserviceTemplate" />
  <xs:element name="GetValue1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x1" type="xs:double" />
        <xs:element minOccurs="0" name="x2" type="xs:double" />
        <xs:element minOccurs="0" name="x3" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValue1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValue1Result" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValue2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x2" type="xs:double" />
        <xs:element minOccurs="0" name="x3" type="xs:double" />
        <xs:element minOccurs="0" name="x4" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValue2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValue2Result" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTableXX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="navn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="x1" type="xs:double" />
        <xs:element minOccurs="0" name="x2" type="xs:double" />
        <xs:element minOccurs="0" name="x3" type="xs:double" />
        <xs:element minOccurs="0" name="x4" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTableXXResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTableXX">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTableXXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelLib" minOccurs="0" name="GetAllTableXXResult" nillable="true" type="q1:ArrayOfClassModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SoapWebserviceTemplate" minOccurs="0" name="composite" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SoapWebserviceTemplate" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>